* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10141e;
}

header {
  height: 5rem;
  background-color: #161d2f;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-wrapper img {
  height: 64px;
  width: 64px;
  margin-right: 20px;
}

.logo-wrapper h3 {
  color: white;
}

.home-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #161d2f;
  padding: 10px;
  border-radius: 15px;
}

.searchbar .search-input {
  background-color: hsl(0, 0%, 75%);
}

.searchbar .icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.searchbar .icons-wrapper .icon {
  color: white;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.movies {
  margin-top: 100px;
}

.movies .movie-card {
  max-width: 320px;
  height: 320px;
}
